@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/Outfit-VariableFont_wght.ttf");
}

body {
  font-family: "Outfit";
  scrollbar-width: none;
}

.MuiTypography-root,
.MuiButton-root,
.MuiMenuItem-root,
.MuiSelect-root {
  font-family: "Outfit" !important;
}

::-webkit-scrollbar {
  display: none;
}

.MuiBox-root .css-zxdg2z {
  padding: 0px;
}

.shadow-sm {
  --tw-shadow: 0;
}
